body {
  background-color: rgb(86, 86, 86);
}

.cube-wrap:hover {
  background-color: rgba(250, 235, 215, 0.459);
  animation: scaleX(1) scaleY(1) scaleZ(1) rotateX(200deg) rotateY(2deg) rotateZ(100deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);

}

.cube-wrap {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  margin-top: 200px;
  margin-left: 30%;
  animation-name: e;
  animation-duration: 4s;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
}

@keyframes e {
  0%   {background-color:rgba(255, 0, 0, 0.422); left:0px; top:0px;}
  25%  {background-color:rgba(255, 255, 0, 0.37); left:200px; top:0px;}
  50%  {background-color:rgba(0, 0, 255, 0.346); left:200px; top:200px;}
  75%  {background-color:rgba(0, 128, 0, 0.339); left:0px; top:200px;}
  100% {background-color:rgba(255, 0, 0, 0.361); left:0px; top:0px; transform: rotate3d(1,1,0,20deg);}
}